/* -------------------- */
/* HEADER STYLES */
/* -------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    background: #ccc;
    box-shadow: 5px 10px 18px #888;
}

nav {
    width: 960px;
    margin: 0px auto;
    /* border: 3px solid yellow; */
}

nav div {
    float: left;
    margin-top: 24px;
    margin-right: 190px;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    /* border: 3px solid yellow; */
}

.navsubtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 130px;
    margin: 44px 0px 0px 5px;
    background: #444;
    /* padding: 20px; */
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: #fff;
    /* border: 3px solid yellow; */
}

nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
}

nav li:hover {
    background: orange;
}

.header-rule {
    height: 5px;
    background: orange;
}

section img {
    width: 200px;
}
